body{
    padding: 10px;
}

.logocontent{
    margin-left: 40px;
    width: 200px;
}
.logocontent p{
    margin-bottom: 5px;
    font-size: x-small;
}
.uploadlogoin{
    width: 100px;
    height: 80px;
    text-align: center;
}
.taxinvoice{
    width:250px;
    height:40px;
    font-size: 40px;
    margin-left: 150px;
    border: transparent;
}
.taxinvoice :hover{
    border: transparent;
}
.header{
    display:inline-flex;
}

.customerdetailsib{
    margin-top: 20px;
}
.row2{
    width: 30%;
}
.threadheading{
    width: fit-content;
    background-color: black;
}
.row1{
    background-color: transparent;
}

.textareabox1col1{
    width: fit-content;
}

.idh{
    width: 48%;
}
.qh{
    width: 17%;
}





.div1{
    background-color: black;
    width: 100px;
    height: 100px;
}